#define SECRET_SSID "REPLACE_WITH_YOUR_WIFI"
#define SECRET_PASS "REPLACE_WITH_YOUR_PASSWORD"
#define MQTT_HOST "YOUR_VPS_IP"
#define MQTT_USER "YOUR_MQTT_USERNAME"
#define MQTT_PASS "YOUR_MQTT_PASSWORD"